.btn-1{
    padding: 10px;
    background-color: wheat;
    border: none;
    border-radius: 5px;
}

.btn-2{
    padding: 10px;
    background-color: wheat;
    border: none;
    border-radius: 5px;
}
